
/*******************/
/* hero */
/******************/
.heroteam {
  text-align: center;
}

.heroteam h1 {
  margin-top: 3.2rem;
  font-size: 4.8rem;
}

.heroteam p {
  font-size: 2.4rem;
  margin-top: 3.2rem;
}

.containerteam {
  display: flex;
  gap: 3.2rem;
  justify-content: center;
  /* margin: 0 auto; */
  margin-top: 12rem;
  /* padding: 0 200px 0 200px; */
}

.containerteam div img {
  height: 40rem;
  border-radius: 20px;
  margin-bottom: 1.2rem;
}

.containerteam div h2 {
  text-align: center;
  font-size: 3.2rem;
}

.containerteam div p {
  margin-bottom: 1.2rem;
  text-align: center;
  font-size: 1.5rem;
  margin-top: 1.2rem;
}

.itemcontectimg {
  display: flex;
  flex-direction: column;
}

.linkteam {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  /* justify-content: center; */
  gap: 3.2rem;
  width: 300px;
}

.linkteam a img {
  width: 4rem;
  height: 4rem;
  filter: invert(25%);
}

/**************************/
/*todo BELOW 1344px (Smaller desktops) */
/**************************/
@media (max-width: 84em) {
  /*******************/
  /* hero */
  /******************/
  .heroteam {
    text-align: center;
  }

  .heroteam h1 {
    margin-top: 3.2rem;
    font-size: 4.8rem;
  }

  .heroteam p {
    font-size: 2.4rem;
    margin-top: 3.2rem;
  }

  .containerteam {
    display: flex;
    gap: 3.2rem;
    justify-content: center;
    /* margin: 0 auto; */
    /* margin-top: 12rem; */
    /* padding: 0 200px 0 200px; */
  }

  .containerteam div img {
    height: 35rem;
    border-radius: 20px;
    margin-bottom: 1.2rem;
  }

  .containerteam div h2 {
    text-align: center;
    font-size: 3.2rem;
  }

  .containerteam div p {
    margin-bottom: 1.2rem;
    text-align: center;
    font-size: 1.5rem;
    margin-top: 1.2rem;
  }

  .linkteam {
    display: flex;
    flex-direction: row;
    /* margin: 0 auto; */
    justify-content: center;
    gap: 2.4rem;
    width: 300px;
  }

  .linkteam a img {
    width: 4rem;
    height: 4rem;
  }
}

/**************************/
/*todo BELOW 1200px (Landscape Tablets) */
/* ************************ 1345 */
@media (max-width: 75em) {
  /*******************/
  /* hero */
  /******************/
  .heroteam {
    text-align: center;
  }

  .heroteam h1 {
    margin-top: 3.2rem;
    font-size: 4.8rem;
  }

  .heroteam p {
    font-size: 2.4rem;
    margin-top: 3.2rem;
  }

  .containerteam {
    display: flex;
    gap: 3.2rem;
    flex-direction: column;
    justify-content: center;
    /* margin: 0 auto; */
    /* margin-top: 12rem; */
    /* padding: 0 200px 0 200px; */
  }

  .containerteam div img {
    height: 50rem;
    border-radius: 20px;
    margin-bottom: 1.2rem;
    margin: 0 auto;
  }

  .containerteam div h2 {
    text-align: center;
    font-size: 3.2rem;
  }

  .containerteam div p {
    margin-bottom: 1.2rem;
    text-align: center;
    font-size: 1.5rem;
    margin-top: 1.2rem;
  }

  .itemcontectimg img {
    margin-bottom: 3.2rem;
  }

  .itemcontectimg {
    display: flex;
    flex-direction: column;
  }
  .linkteam {
    /* display: flex; */
    /* flex-direction: row; */
    margin: 0 auto;
    gap: 1.2rem;
    width: 300px;
  }

  .linkteam a img {
    width: 3rem;
    height: 3rem;
  }
}

/**************************/
/*todo BELOW 944px (Tablets) */
/************************** 945*/
@media (max-width: 59em) {
  /*******************/
  /* hero */
  /******************/
  .heroteam {
    text-align: center;
  }

  .heroteam h1 {
    margin-top: 3.2rem;
    font-size: 4.8rem;
  }

  .heroteam p {
    font-size: 2.4rem;
    margin-top: 3.2rem;
  }

  .containerteam {
    display: flex;
    gap: 3.2rem;
    flex-direction: column;
    justify-content: center;
    /* margin: 0 auto; */
    /* margin-top: 12rem; */
    /* padding: 0 200px 0 200px; */
  }

  .containerteam div img {
    height: 50rem;
    border-radius: 20px;
    margin-bottom: 1.2rem;
    margin: 0 auto;
  }

  .containerteam div h2 {
    text-align: center;
    font-size: 3.2rem;
  }

  .containerteam div p {
    margin-bottom: 1.2rem;
    text-align: center;
    font-size: 1.5rem;
    margin-top: 1.2rem;
  }

  .itemcontectimg img {
    margin-bottom: 3.2rem;
  }

  .itemcontectimg {
    display: flex;
    flex-direction: column;
  }
  .linkteam {
    /* display: flex; */
    /* flex-direction: row; */
    margin: 0 auto;
    gap: 1.2rem;
    width: 300px;
  }

  .linkteam a img {
    width: 3rem;
    height: 3rem;
  }
}

/* ************************
  /*todo BELOW 704px (Smaller tablets) */
/************************* 704 */
@media (max-width: 44em) {
  /*******************/
  /* hero */
  /******************/
  .heroteam {
    text-align: center;
  }

  .heroteam h1 {
    margin-top: 3.2rem;
    font-size: 4.8rem;
  }

  .heroteam p {
    font-size: 2.4rem;
    margin-top: 3.2rem;
  }

  .containerteam {
    display: flex;
    gap: 3.2rem;
    flex-direction: column;
    justify-content: center;
    /* margin: 0 auto; */
    /* margin-top: 12rem; */
    /* padding: 0 200px 0 200px; */
  }

  .containerteam div img {
    height: 35rem;
    border-radius: 20px;
    margin-bottom: 1.2rem;
    margin: 0 auto;
  }

  .containerteam div h2 {
    text-align: center;
    font-size: 3.2rem;
  }

  .containerteam div p {
    margin-bottom: 1.2rem;
    text-align: center;
    font-size: 1.5rem;
    margin-top: 1.2rem;
  }

  .itemcontectimg img {
    margin-bottom: 3.2rem;
  }

  .itemcontectimg {
    display: flex;
    flex-direction: column;
  }
  .linkteam {
    /* display: flex; */
    /* flex-direction: row; */
    margin: 0 auto;
    gap: 1.2rem;
    width: 300px;
  }

  .linkteam a img {
    width: 3rem;
    height: 3rem;
  }
}

/**************************/
/*todo BELOW 544px (Phones) */
/**************************/
@media screen and (max-width: 34em) {
  /*******************/
  /* hero */
  /******************/
  .heroteam {
    text-align: center;
  }

  .heroteam h1 {
    margin-top: 3.2rem;
    font-size: 4.8rem;
  }

  .heroteam p {
    font-size: 2.4rem;
    margin-top: 3.2rem;
  }

  .containerteam {
    display: flex;
    gap: 3.2rem;
    flex-direction: column;
    justify-content: center;
    /* margin: 0 auto; */
    /* margin-top: 12rem; */
    /* padding: 0 200px 0 200px; */
  }

  .containerteam div img {
    height: 30rem;
    border-radius: 20px;
    margin-bottom: 1.2rem;
    margin: 0 auto;
  }

  .containerteam div h2 {
    text-align: center;
    font-size: 3.2rem;
  }

  .containerteam div p {
    margin-bottom: 1.2rem;
    text-align: center;
    font-size: 1.5rem;
    margin-top: 1.2rem;
  }

  .itemcontectimg img {
    margin-bottom: 3.2rem;
  }

  .itemcontectimg {
    display: flex;
    flex-direction: column;
  }
  .linkteam {
    /* display: flex; */
    /* flex-direction: row; */
    margin: 0 auto;
    gap: 1.2rem;
    width: 300px;
  }

  .linkteam a img {
    width: 3rem;
    height: 3rem;
  }
}

/************************************************/

/***********************************/
/* HEader */
/***********************************/

.containerNavbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2.4rem 5rem 2rem 5rem;
  /* margin: 1.2rem 0 1.2rem 0; */
  background-color: white;
}

.logoImg img {
  width: 20rem;
}

.linkNav {
  display: flex;
  gap: 3.2rem;
  /* margin-top: 0.5rem; */
}

.linkNav a {
  text-decoration: none;
  font-size: 1.5rem;
  margin-top: 1.2rem;
  text-decoration: none;
  font-size: 1.5rem;
  color: #7db6f9;
}

.linkNav a:link,
.linkNav a:visited {
  color: #7db6f9;
}

.linkNav a:hover,
.linkNav a:active {
  color: #56a2fa;
  text-decoration: underline;
}

.btnNav {
  margin-top: 1.2rem;
}

.btnNav a {
  text-decoration: none;
  font-size: 1.2rem;
}

.btnNav a:hover,
.btnNav a:active {
  background: linear-gradient(45deg, #00dfe5, #5f3beebe);
  /* -webkit-background-clip: text; */
  /* -webkit-text-fill-color: transparent; */
}

.btnNav a:link,
.btnNav a:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-image: linear-gradient(45deg, #00dfe5, #5f3bee);
}

.btnNav a:hover,
.btnNav a:active {
  background-image: linear-gradient(45deg, #00dde5b9, #5f3beebe);
}

/***********************************/
/* Footer */
/***********************************/

.containerFooter{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2.4rem;
    background-color: white;
    padding: 3.2rem 5rem;
    margin-top: 3.2rem;
}

.imgFooter img{
    height: 5rem;
}

.linkFooter{
    display: flex;
    gap: 3.2rem;
    margin-top: 1.2rem;  
}

.linkFooter a{
    font-size: 1.5rem;
    text-decoration: none;
    
}

.linkFooter a:link,
.linkFooter a:visited {
  color: #7db6f9;
}

.linkFooter a:hover,
.linkFooter a:active {
  color: #56a2fa;
  text-decoration: underline;
}

.iconFooter{
    display: flex;
    gap: 3.2rem;
}

.iconFooter img{
  height: 3.5rem;
  transition: transform 0.3s ease;
}

.iconFooter img:link,
.iconFooter img:visited {
color: #7db6f9;
}

.iconFooter img:hover,
.iconFooter img:active {
transform: scale(1.1);
color: #56a2fa;
text-decoration: underline;
}

/**************************/
/*todo BELOW 1344px (Smaller desktops) */
/**************************/
@media (max-width: 84em) {
   
}

/**************************/
/*todo BELOW 1200px (Landscape Tablets) */
/* ************************ 1345 */
@media (max-width: 75em) {
  
}

/**************************/
/*todo BELOW 944px (Tablets) */
/************************** 945*/
@media (max-width: 59em) {
  .containerFooter{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 2.4rem;
      background-color: white;
      padding: 3.2rem 0;
      align-items: center;
  }
}

/* ************************
  /*todo BELOW 704px (Smaller tablets) */
/************************* 704 */
@media (max-width: 44em) {
  .containerFooter{
   
    align-items: center;
}
  .logoImg{
     display: none;
  }

  .containerNavbar{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .btnNav {
      margin-bottom: 1.2rem;
      display: none;
  }
}

/**************************/
/*todo BELOW 544px (Phones) */
/**************************/
@media screen and (max-width: 34em) {
  .containerFooter{
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    align-items: center;
}
  .btnNav{
      display: none;
  }
  .iconFooter{
      display: flex;
      gap: 1.2rem;
  }
}